
<h1>Listing Trips</h1>

<%= link_to 'Add New Journey', new_trip_path %>

<br />

<table border="5", width="80%" >
  <tr>
    <th>Journey Name</th>
    <th>IMEI No</th>
    <th>Start Latitude</th>
    <th>Start Longitude</th>
    <th>Stop Latitude</th>
    <th>Stop Longitude</th>
    <th>Average Speed</th>
    <th></th>
  </tr>
 
  <% @trip.each do |trp| %>
    <tr>
      <td><%= trp.journey_name %></td>
      <td><%= trp.imei_no %></td>
      <td><%= trp.start_latitude %></td>
      <td><%= trp.start_longitude %></td>
      <td><%= trp.stop_latitude %></td>
      <td><%= trp.stop_longitude %></td>
      <td><%= trp.avg_spd %></td>
      <td><%= link_to 'Show', trip_path(trp) %></td>
      <td><%= link_to 'Edit', edit_trip_path(trp) %></td>
    </tr>
  <% end %>
</table>

